.Container {
    width: 80%;
    margin: 4rem auto;
}

.Slider {
    padding: 10px;
}

.dataBase {
    display: flex;
    padding: 10px;
    align-items: center;
    margin-left: 10px;
    justify-content: center;
}

.Image {
    border-radius: 10px;
}