@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.dataArea {
    padding: 10px;
    justify-content: left;
    cursor: default;
    align-items: center;
}

.Image {
    border-radius: 10px;
}

.Data1 {
    padding: 10px;
    font-size: 56px;
    font-family: 'Concert One', cursive;
}

.Data2 {
    padding: 10px;
    font-size: 24px;
    font-family: 'Concert One', cursive;
}